{%extends 'base.html'%}
{% block title %}Więcej o mnie{% endblock %}
{% block content %}

<p>Jestem studentką I roku Informatyki Stosowanej. Niedawno skończyłam liceum i zdałam maturę. Na codzień prowadzę aktywny tryb życia i lubię eksperymentować. Programowaniem zainteresowałam się około 2 lat temu, kiedy zaczęłam chodzić na dodatkowe zajęcia. Robiłam proste gry typu brick-breaker czy flappy bird.</p>
<img src="{{ url_for('static',filename='zdj.jpg') }}" alt='twoj fav informatyk' width="700" border-radius: 40px>
{% endblock %}